MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER_URL/neomotion?retryWrites=true&w=majority
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sumeetfullstackdeveloper@gmail.com
SMTP_PASS=Sumeet123#@!
SMTP_FROM=NeoMotion PhysioTherapy <sumeetfullstackdeveloper@gmail.com>
